
<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-3">
            <dt>Name</dt>
            <dd>
                <input type="text"  name="name" [(ngModel)]="name">
            </dd>
            <dt>Price</dt>
            <dd>
                <input type="text" name="name" [(ngModel)]="price">
            </dd>
        </div>
        <div class="col-9">
            <dt>Name</dt>
            <dd>{{name}}</dd>
            <dt>Price</dt>
            <dd>{{price}}</dd>

        </div>
    </div>
</div>